<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.HistoryMapper">
    <insert id="insertHistory" parameterType="ApiHistory">
        INSERT INTO history (
            user_id,
            project_id,
            environment_id,
            site_id,
            method,
            url,
            response_code,
            response_time,
            logged_time,
            header,
            parameter,
            form_parameter,
            response_body,
            response_header)
        VALUES (
            #{userId},
            #{projectId},
            #{environmentId},
            #{siteId},
            #{method},
            #{url},
            #{responseCode},
            #{responseTime},
            #{loggedTime},
            #{header},
            #{parameter},
            #{formParameter},
            #{responseBody},
            #{responseHeader}
        );
    </insert>

    <select id="getAllHistories" resultType="ApiHistoryResponse">
        SELECT
            h.id,
            h.method,
            h.url,
            h.response_code AS responseCode,
            h.response_time AS responseTime,
            h.logged_time AS loggedTime,
            h.header,
            h.parameter,
            h.form_parameter AS formParameter,
            h.response_body AS responseBody,
            h.response_header AS responseHeader,
            u.email AS requestUserEmail,
            p.name AS projectName,
            pu.email AS projectOwnerEmail,
            COALESCE(s.name, 'X') AS siteName,
            COALESCE(e.name, 'X') AS environmentName
        FROM
            history h
            LEFT JOIN users u ON h.user_id = u.id
            LEFT JOIN project p ON h.project_id = p.id
            LEFT JOIN users pu ON p.user_id = pu.id
            LEFT JOIN site s ON h.site_id = s.id
            LEFT JOIN environment e ON h.environment_id = e.id
        WHERE h.user_id = #{userId}
        ORDER BY h.logged_time DESC
    </select>

    <select id="getHistoryById" resultType="ApiHistoryResponse">
        SELECT
            h.id,
            h.method,
            h.url,
            h.response_code AS responseCode,
            h.response_time AS responseTime,
            h.logged_time AS loggedTime,
            h.header,
            h.parameter,
            h.form_parameter AS formParameter,
            h.response_body AS responseBody,
            h.response_header AS responseHeader,
            u.email AS requestUserEmail,
            p.name AS projectName,
            pu.email AS projectOwnerEmail,
            COALESCE(s.name, 'X') AS siteName,
            COALESCE(e.name, 'X') AS environmentName
            FROM
            history h
            LEFT JOIN users u ON h.user_id = u.id
            LEFT JOIN project p ON h.project_id = p.id
            LEFT JOIN users pu ON p.user_id = pu.id
            LEFT JOIN site s ON h.site_id = s.id
            LEFT JOIN environment e ON h.environment_id = e.id
        WHERE h.id = #{id}
        ORDER BY h.logged_time DESC
    </select>

    <select id="getErrorHistory" resultType="ApiHistoryResponse">
        SELECT
            h.id,
            h.method,
            h.url,
            h.response_code AS responseCode,
            h.response_time AS responseTime,
            h.logged_time AS loggedTime,
            h.header,
            h.parameter,
            h.form_parameter AS formParameter,
            h.response_body AS responseBody,
            h.response_header AS responseHeader,
            u.email AS requestUserEmail,
            p.name AS projectName,
            pu.email AS projectOwnerEmail,
            COALESCE(s.name, 'X') AS siteName,
            COALESCE(e.name, 'X') AS environmentName
        FROM
            history h
            LEFT JOIN users u ON h.user_id = u.id
            LEFT JOIN project p ON h.project_id = p.id
            LEFT JOIN users pu ON p.user_id = pu.id
            LEFT JOIN site s ON h.site_id = s.id
            LEFT JOIN environment e ON h.environment_id = e.id
        WHERE h.user_id = #{userId} AND
            response_code >= 400 AND response_code <![CDATA[<]]> 600 AND logged_time BETWEEN #{start} AND #{end}
        ORDER BY h.logged_time DESC
    </select>

    <select id="getHistoriesByProjectId" resultType="ApiHistoryResponse">
        SELECT
            h.id,
            h.method,
            h.url,
            h.response_code AS responseCode,
            h.response_time AS responseTime,
            h.logged_time AS loggedTime,
            h.header,
            h.parameter,
            h.form_parameter AS formParameter,
            h.response_body AS responseBody,
            h.response_header AS responseHeader,
            u.email AS requestUserEmail,
            p.name AS projectName,
            pu.email AS projectOwnerEmail,
            COALESCE(s.name, 'X') AS siteName,
            COALESCE(e.name, 'X') AS environmentName
        FROM
            history h
            LEFT JOIN users u ON h.user_id = u.id
            LEFT JOIN project p ON h.project_id = p.id
            LEFT JOIN users pu ON p.user_id = pu.id
            LEFT JOIN site s ON h.site_id = s.id
            LEFT JOIN environment e ON h.environment_id = e.id
        WHERE h.project_id = #{projectId}
        ORDER BY h.logged_time DESC
    </select>
</mapper>

