<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.UserMapper">
    <select id="findByEmail" resultType="User">
        SELECT
            id AS id,
            email AS email,
            password AS password,
            auto_save_use as autoSaveUse,
            auto_save_time as autoSaveTime,
            auto_save_term as autoSaveTerm,
            auto_save_path as autoSavePath,
            show_response as showResponse,
            verified as verified,
            social_provider as socialProvider,
            profile_image as profileImage
        FROM users WHERE email = #{email}
    </select>

    <select id="findById" resultType="User">
        SELECT
            id AS id,
            email AS email,
            password AS password,
            auto_save_use as autoSaveUse,
            auto_save_time as autoSaveTime,
            auto_save_term as autoSaveTerm,
            auto_save_path as autoSavePath,
            show_response as showResponse,
            verified as verified,
            social_provider as socialProvider,
            profile_image as profileImage
        FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser">
        INSERT INTO users (
            email, password, verified, auto_save_use,
            auto_save_time, auto_save_term, auto_save_path,
            show_response)
        VALUES (#{email}, #{password}, #{verified}, #{autoSaveUse},
                #{autoSaveTime}, #{autoSaveTerm}, #{autoSavePath},
                #{showResponse})
    </insert>

    <insert id="insertSocialUser">
        INSERT INTO users (
            email, verified, auto_save_use,
            auto_save_time, auto_save_term, auto_save_path,
            show_response, social_provider, profile_image)
        VALUES (#{email}, #{verified}, #{autoSaveUse},
                #{autoSaveTime}, #{autoSaveTerm}, #{autoSavePath},
                #{showResponse}, #{socialProvider}, #{profileImage})
    </insert>

    <update id="renewVerified" parameterType="User">
        UPDATE users SET
            verified = #{verified}
        WHERE id = #{id}
    </update>

    <update id="settingUser" parameterType="User">
        UPDATE users SET
            auto_save_use = #{autoSaveUse},
            auto_save_time = #{autoSaveTime},
            auto_save_term = #{autoSaveTerm},
            auto_save_path = #{autoSavePath},
            show_response = #{showResponse},
            profile_image = #{profileImage}
        WHERE id = #{id}
    </update>

    <update id="settingUserAutoSaveUse">
        UPDATE users SET
            auto_save_use = #{autoSaveUse}
        WHERE id = #{userId}
    </update>

    <update id="uploadUserProfileImage">
        UPDATE users SET
            profile_image = #{profileImage}
        WHERE id = #{userId}
    </update>

</mapper>
