<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.ApiMapper">
    <insert id="saveApi">
        INSERT INTO apis (
            item_id,
            environment_id,
            name,
            method,
            url,
            headers,
            query_parameters,
            form_parameters,
            file,
            selected_body_type,
            create_at
        )
        VALUES (
            #{itemId},
            #{environmentId},
            #{name},
            #{method},
            #{url},
            #{headers},
            #{queryParameters},
            #{formParameters},
            #{file},
            #{selectedBodyType},
            NOW())
    </insert>
    <select id="loadApi" resultType="Apis">
        SELECT
            id AS id,
            item_id AS itemId,
            environment_id AS environmentId,
            name AS name,
            method AS method,
            url AS url,
            headers AS headers,
            query_parameters AS queryParameters,
            form_parameters AS formParameters,
            file AS file,
            selected_body_type AS selectedBodyType,
            create_at AS createAt
        FROM apis
        WHERE item_id = #{itemId}
    </select>
</mapper>

