<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.ApiMapper">
    <insert id="saveApi" parameterType="Apis" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO apis (
            item_id,
            environment_id,
            name,
            method,
            url,
            headers,
            query_parameters,
            form_parameters,
            file,
            selected_body_type,
            create_at
        )
        VALUES (
            #{itemId},
            #{environmentId},
            #{name},
            #{method},
            #{url},
            #{headers},
            #{queryParameters},
            #{formParameters},
            #{file},
            #{selectedBodyType},
            NOW())
    </insert>
    <select id="loadApi" resultType="Apis">
        SELECT
            id AS id,
            item_id AS itemId,
            environment_id AS environmentId,
            name AS name,
            method AS method,
            url AS url,
            headers AS headers,
            query_parameters AS queryParameters,
            form_parameters AS formParameters,
            file AS file,
            selected_body_type AS selectedBodyType,
            create_at AS createAt
        FROM apis
        WHERE item_id = #{itemId}
    </select>
    <select id="findById" resultType="Apis">
        SELECT
        id AS id,
        item_id AS itemId,
        environment_id AS environmentId,
        name AS name,
        method AS method,
        url AS url,
        headers AS headers,
        query_parameters AS queryParameters,
        form_parameters AS formParameters,
        file AS file,
        selected_body_type AS selectedBodyType,
        create_at AS createAt
        FROM apis
        WHERE id = #{id}
    </select>
    <update id="updateApi">
        UPDATE apis SET
            name = #{name},
            method = #{method},
            url = #{url},
            headers = #{headers},
            query_parameters = #{queryParameters},
            form_parameters = #{formParameters},
            file = #{file},
            selected_body_type = #{selectedBodyType},
            create_at = #{createAt}
        WHERE id = #{id}
    </update>
    <!-- 사용자 이전 API 사용 기록 삭제 -->
    <delete id="deleteUsageByUserId">
        DELETE FROM api_usage WHERE user_id = #{userId}
    </delete>

    <!-- 새로운 API 사용 기록 추가 -->
    <insert id="insertUsage">
        INSERT INTO api_usage (user_id, project_id, item_id)
        VALUES (#{userId}, #{projectId}, #{itemId})
    </insert>

    <!-- 특정 API를 사용하는 사용자 목록 조회 -->
    <select id="findUsersByProjectId" resultMap="UserApiUsageResultMap">
        SELECT
            u.id AS userId,
            u.email,
            u.password,
            u.auto_save_use AS autoSaveUse,
            u.auto_save_time AS autoSaveTime,
            u.auto_save_term AS autoSaveTerm,
            u.auto_save_path AS autoSavePath,
            u.show_response AS showResponse,
            u.verified,
            u.social_provider AS socialProvider,
            au.item_id AS itemId,
            au.project_id AS projectId
        FROM users u
        INNER JOIN api_usage au ON u.id = au.user_id
        WHERE au.project_id = #{projectId}
    </select>

    <resultMap id="UserApiUsageResultMap" type="User">
        <!-- User 필드 매핑 -->
        <id property="id" column="userId" />
        <result property="email" column="email" />
        <result property="password" column="password" />
        <result property="autoSaveUse" column="autoSaveUse" />
        <result property="autoSaveTime" column="autoSaveTime" />
        <result property="autoSaveTerm" column="autoSaveTerm" />
        <result property="autoSavePath" column="autoSavePath" />
        <result property="showResponse" column="showResponse" />
        <result property="verified" column="verified" />
        <result property="socialProvider" column="socialProvider" />

        <!-- ApiUsage 필드 매핑 -->
        <association property="apiUsage" javaType="ApiUsage">
            <result property="itemId" column="itemId" />
            <result property="projectId" column="projectId" />
        </association>
    </resultMap>

</mapper>

