<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.EnvironmentMapper">
    <select id="getEnvironments" parameterType="Long" resultType="Environment">
        SELECT
            id AS id,
            site_id AS siteId,
            name AS name
        FROM environment WHERE site_id = #{siteId}
    </select>

    <select id="getSitesByProjectId" parameterType="Long" resultType="Site">
        SELECT
            id AS id,
            project_id AS projectId,
            name AS name
        FROM site
        WHERE project_id = #{projectId}
    </select>

    <insert id="createSite">
        INSERT INTO site (project_id, name, create_at)
        VALUES (#{projectId}, #{name}, NOW())
    </insert>

    <insert id="insertEnvironment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO environment (site_id, name)
        VALUES (#{siteId}, #{name})
    </insert>

    <select id="getEnvironmentById" resultType="Environment">
        SELECT id, site_id AS siteId, name
        FROM environment
        WHERE id = #{id}
    </select>

    <delete id="deleteEnvironment">
        DELETE FROM environment WHERE id = #{id}
    </delete>

    <delete id="deleteSite">
        DELETE FROM site WHERE id = #{id}
    </delete>
</mapper>
