<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.ProjectMapper">
    <!-- 사용자별 프로젝트 조회 -->
    <select id="getProjectsByUserId" resultType="com.apitester.ttalkkag.dto.Project">
        SELECT
            p.id AS id,
            p.user_id AS userId,
            p.name AS name,
            pp.user_id AS participantUserId,
            pp.role AS participantRole,
            pp.permission_level AS permissionLevel
        FROM
            project p
        LEFT JOIN
            project_participants pp
        ON
            p.id = pp.project_id
        WHERE
            pp.user_id = #{userId} OR p.user_id = #{userId}
    </select>

    <resultMap id="ProjectMap" type="Project">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="name" column="name" />
        <result property="createAt" column="create_at" />
        <result property="participantUserId" column="participantUserId" />
        <result property="participantRole" column="participantRole" />
        <result property="permissionLevel" column="permissionLevel" />
    </resultMap>

    <select id="getProjectByProjectId" resultType="com.apitester.ttalkkag.dto.Project">
        SELECT
        id AS id,
        name AS name,
        user_id AS userId,
        create_at AS createAt
        FROM project
        WHERE id = #{projectId}
    </select>

    <select id="getParticipantsByProjectId" resultType="ProjectParticipants">
        SELECT
            id AS id,
            project_id AS projectId,
            user_id AS userId,
            name AS name,
            role AS role,
            permission_level AS permissionLevel
        FROM project_participants
        WHERE project_id = #{projectId}
    </select>

    <select id="getParticipantByProjectIdAndUserId" resultType="ProjectParticipants">
        SELECT
            id AS id,
            project_id AS projectId,
            user_id AS userId,
            name AS name,
            role AS role,
            permission_level AS permissionLevel
        FROM project_participants
        WHERE project_id = #{projectId} AND user_id = #{userId}
    </select>

    <update id="updateParticipant">
        UPDATE project_participants
        SET
            permission_level = #{participant.permissionLevel}
        WHERE
            project_id = #{projectId} AND
            user_id = #{participant.userId};
    </update>


    <select id="searchProjectItems" resultType="ProjectItems">
        WITH RECURSIVE project_hierarchy AS (
            -- 검색 조건에 맞는 항목들 가져오기
            SELECT
            id,
            parent_id AS parentId,
            project_id AS projectId,
            type,
            name,
            depth,
            create_at AS createAt
        FROM project_items
        WHERE project_id = #{projectId}
        <if test="query != null and query != ''">
            AND name LIKE CONCAT('%', #{query}, '%')
        </if>
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        <if test="type == 'api' and method != null and method != ''">
            AND method = #{method}
        </if>

        UNION ALL

        -- 부모 항목 재귀적으로 가져오기
        SELECT
            pi.id,
            pi.parent_id AS parentId,
            pi.project_id AS projectId,
            pi.type,
            pi.name,
            pi.depth,
            pi.create_at AS createAt
        FROM project_items pi
        INNER JOIN project_hierarchy ph ON pi.id = ph.parentId
        )
        SELECT DISTINCT * FROM project_hierarchy;
    </select>

    <select id="getItemByItemId" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            item_order AS itemOrder,
            create_at AS createAt
        FROM project_items
        WHERE id = #{itemId}
    </select>

    <!-- 프로젝트 생성 -->
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project (name, create_at, user_id)
        VALUES (#{name}, NOW(), #{userId})
    </insert>

    <!-- 프로젝트 삭제 -->
    <delete id="deleteProject">
        DELETE FROM project
        WHERE id = #{id}
    </delete>

    <insert id="insertProjectItem" parameterType="ProjectItems" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_items (
            project_id,
            parent_id,
            type,
            name,
            depth,
            create_at,
            item_order
            )
        VALUES (
            #{projectId},
            #{parentId},
            #{type},
            #{name},
            #{depth},
            NOW(),
            #{itemOrder}
        )
    </insert>

    <insert id="insertParticipant" parameterType="ProjectParticipants" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_participants (
        project_id,
        user_id,
        name,
        role,
        permission_level
        )
        VALUES (
        #{projectId},
        #{userId},
        #{name},
        #{role},
        #{permissionLevel}
        )
    </insert>

    <select id="getParticipantsById" parameterType="Long" resultType="ProjectParticipants">
        SELECT
            id,
            project_id AS projectId,
            user_id AS userId,
            name,
            role,
            permission_level AS permissionLevel
        FROM project_participants
        WHERE id = #{id}
    </select>

    <select id="getParticipantsByUserId" parameterType="Long" resultType="ProjectParticipants">
        SELECT
        id,
        project_id AS projectId,
        user_id AS userId,
        name,
        role,
        permission_level AS permissionLevel
        FROM project_participants
        WHERE id = #{id}
    </select>

    <select id="findByCode" parameterType="String" resultType="InviteCode">
        SELECT
            id,
            project_id AS projectId,
            code,
            expiry_time AS expiryTime
        FROM invite_code
        WHERE code = #{code}
    </select>

    <select id="getNextItemOrder" parameterType="long" resultType="int">
        SELECT COALESCE(MAX(item_order), 0) + 1
        FROM project_items
        WHERE parent_id = #{parentId}
    </select>

    <insert id="insertApi" parameterType="ProjectItems">
        INSERT INTO project_items (project_id, parent_id, type, name, depth, create_at)
        VALUES (#{projectId}, #{parentId}, #{type}, #{name}, #{depth}, NOW());
    </insert>

    <select id="getInviteCodeByProjectId" parameterType="Long">
        SELECT * FROM invite_code WHERE project_id = #{projectId}
    </select>

    <insert id="insertInviteCode" parameterType="InviteCode">
        INSERT INTO invite_code (
            project_id, code, expiry_time
        )
            VALUES (
            #{projectId}, #{code}, #{expiryTime}
        );
    </insert>

    <update id="updateInviteCode" parameterType="InviteCode">
        UPDATE invite_code SET
            code = #{code},
            expiry_time = #{expiryTime}
        WHERE project_id = #{projectId}
    </update>


    <select id="findByProjectId" parameterType="long" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            item_order AS itemOrder,
            create_at AS createAt
        FROM project_items
        WHERE project_id = #{projectId}
        ORDER BY parent_id, item_order
    </select>

    <select id="getProjectItemsById" parameterType="long" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            item_order AS itemOrder,
            create_at AS createAt
        FROM project_items
        WHERE id = #{id}
        ORDER BY parent_id, item_order
    </select>

    <select id="findByParentId" parameterType="long" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            item_order AS itemOrder,
            create_at AS createAt
        FROM project_items
        WHERE parent_id = #{parentId}
        ORDER BY parent_id, item_order
    </select>

    <!-- 항목 삭제 -->
    <delete id="deleteByItemId">
        DELETE FROM project_items WHERE id = #{id}
    </delete>

    <update id="updateProjectItemName" parameterType="ProjectItems">
        UPDATE project_items SET
            name = #{name}
        WHERE id = #{id}
    </update>

    <update id="updateProjectItem" parameterType="ProjectItems">
        UPDATE project_items SET
            name = #{name}
            parentId = #{parentId}
        WHERE id = #{id}
    </update>

    <update id="updateParentId" parameterType="projectItems">
        UPDATE project_items SET
            parent_id = #{parentId}
        WHERE id = #{id}
    </update>

    <update id="updateItemOrder" parameterType="map">
        <foreach collection="items" item="item" index="index" separator=";">
            UPDATE project_items
            SET item_order = #{item.order}
            WHERE id = #{item.id} AND parent_id = #{parentId}
        </foreach>
    </update>

</mapper>
