<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apitester.ttalkkag.mapper.ProjectMapper">
    <!-- 사용자별 프로젝트 조회 -->
    <select id="getProjectsByUserId" resultType="com.apitester.ttalkkag.dto.Project">
        SELECT
            id AS id,
            name AS name,
            user_id AS userId,
            create_at AS createAt
        FROM project
        WHERE user_id = #{userId}
    </select>

    <select id="getProjectByProjectId" resultType="com.apitester.ttalkkag.dto.Project">
        SELECT
        id AS id,
        name AS name,
        user_id AS userId,
        create_at AS createAt
        FROM project
        WHERE id = #{projectId}
    </select>

    <select id="searchProjectItems" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            create_at AS createAt
        FROM project_items
        WHERE project_id = #{projectId}
        <if test="query != null and query != ''">
            AND name LIKE CONCAT('%', #{query}, '%')
        </if>
        <if test="method != null and method != ''">
            AND method = #{method}
        </if>
    </select>

    <!-- 프로젝트 생성 -->
    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project (name, create_at, user_id)
        VALUES (#{name}, NOW(), #{userId})
    </insert>

    <!-- 프로젝트 삭제 -->
    <delete id="deleteProject">
        DELETE FROM project
        WHERE id = #{id}
    </delete>

    <insert id="insertProjectItem" parameterType="ProjectItems">
        INSERT INTO project_items (project_id, parent_id, type, name, depth, create_at)
        VALUES (#{projectId}, #{parentId}, #{type}, #{name}, #{depth}, #{createAt})
    </insert>

    <insert id="insertApi" parameterType="ProjectItems">
        INSERT INTO project_items (project_id, parent_id, type, name, depth, create_at)
        VALUES (#{projectId}, #{parentId}, #{type}, #{name}, #{depth}, NOW());
    </insert>


    <select id="findByProjectId" parameterType="long" resultType="ProjectItems">
        SELECT
            id AS id,
            project_id AS projectId,
            parent_id AS parentId,
            type AS type,
            name AS name,
            depth AS depth,
            create_at AS createAt
        FROM project_items
        WHERE project_id = #{projectId}
    </select>

    <select id="findByParentId" parameterType="long" resultType="ProjectItems">
        SELECT * FROM project_items
        WHERE parent_id = #{parentId}
    </select>

    <!-- 항목 삭제 -->
    <delete id="deleteByItemId">
        DELETE FROM project_items WHERE id = #{id}
    </delete>

    <update id="updateProjectItemName" parameterType="ProjectItems">
        UPDATE project_items SET
            name = #{name}
        WHERE id = #{id}
    </update>

    <update id="updateParentId" parameterType="projectItems">
        UPDATE project_items SET
            parent_id = #{parentId}
        WHERE id = #{id}
    </update>
</mapper>
